In [ ]:
name="sindhu"
print(f"my name is {name}")

my name is sindhu

#Python Syntax & Structure


#Basic Syntax rules

In [ ]:
print("Hello,World!") # Function call
x = 5 # variable Assignment
y=10 # To need to declare type

Hello,World!

#Python is case-sensitive

In [ ]:
Name="sindhu"
name="sindu"
print(Name,name)# Different variables

sindhu sindu

#Indentation matters

In [ ]:
if x > 0:
  print("x is positive") # 4 spaces indentation
  print("This is inside the if block")

x is positive
This is inside the if block

##Varibles & Data Types

#Numeric Types

In [ ]:
age = 25 # int
height = 5.9 # float
complex_num = 3 + 4j # complex

#String Type:

In [ ]:
name = "Alice"
message= 'Hello World'
multiline = """This is a Multiline string"""

#Boolean Type

In [ ]:
is_active = True
is_finished = False

#Type Checking

In [ ]:
print(type(age))# <class 'int'>
print(type(height))# <class 'float'>
print(type(name))# <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type(age)

int

#Type Conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)


print(f"Original: {str_number} (type: {type(str_number)})")
print(f"Integer: {int_number} (type: {type(int_number)})")
print(f"float: {float_number} (type: {type(float_number)})")

Original: 123 (type: <class 'str'>)
Integer: 123 (type: <class 'int'>)
float: 123.0 (type: <class 'float'>)

#Hands-on Exercise:

#Exercise 1: Personal I nformation

#Create variables for personal information

In [ ]:
first_name ="Sindhu"
last_name ="Havanagi"
age=19
height=4.11
is_student=True

#Print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: Sindhu Havanagi
Age: 19
Height: 4.11 feet
Student: True

#Type conversions

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 19
Height as integer: 4

#Operators & Basic Operation

#Arithmetic Operators

In [ ]:
a=10
b=3

print("Addition:",(a+b))
print("Subtraction:",(a-b))
print("Multiplication:",(a*b))
print("Division:",(a/b))
print("Floor Division:",(a//b))
print("Modulus:",(a%b))
print("Exponentiation:",(a**b))

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000



*  P-Parentheses

*  E-Exponents

*   M-Multiplication
*   D-Divsion


*   A-Addition


*   S-Subtraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

#Relational/comparison operators

In [ ]:
x=10
y=20


print(f"{x}=={y}:{x==y}")
print(f"{x}!={y}:{x==y}")
print(f"{x}<{y}:{x==y}")
print(f"{x}>{y}:{x==y}")
print(f"{x}<={y}:{x==y}")
print(f"{x}>={y}:{x==y}")

10==20:False
10!=20:False
10<20:False
10>20:False
10<=20:False
10>=20:False

#String comparsion

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}':{name1 < name2}")

'Alice'<'Bob':True

#Logical operators

In [ ]:
p=True
q=False

print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"p not p:{ not p}")

p and q:False
p or q:True
p not p:False

In [ ]:
# Practical example
age=20
has_license=True
can_drive=age >= 18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
# Multiple conditions
score=85
is_present=True
can_pass=score >= 80 and is_present
print(f"can pass: {can_pass}")

can pass: True

#Hands-on Exercise

#Exercise 2:Simple Calculator

#create a calculator that checks if a person qualifies for a loan

In [ ]:
# Personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
# Loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
# check qualifications
age_qualified=age >= min_age
income_qualified=annual_income >= min_income
credit_qualified=credit_score >= min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

#Data Structure

#Lists

#Creating lists

In [ ]:
fruits=["apple","banana","orange","grapes"]
numbers=[10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]

#List indexing(0-based)

In [ ]:
print(f"First fruit:{fruits[0]}")
print(f"Last fruit:{fruits[-1]}")
print(f"Second to last:{fruits[-2]}")

First fruit:apple
Last fruit:grapes
Second to last:orange

#List slicing

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"First 2 fruits:{fruits[-2:]}")
print(f"All execpt first:{fruits[1:]}")

First 2 fruits:['apple', 'banana']
First 2 fruits:['orange', 'grapes']
All execpt first:['banana', 'orange', 'grapes']

#List methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawberry")
removed=fruits.pop()
print(f"Updated list:{fruits}")
print(f"Removed:{removed}")

Updated list:['apple', 'strawberry', 'banana', 'orange', 'grapes']
Removed:kiwi

#List operations

In [ ]:
print(f"Length: {len(fruits)}")
print(f"contains 'appl':{'apple'in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Length: 5
contains 'appl':True
Index of 'banana':2

#Tuples

#Tuples are immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

#Tuple unpacking

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

#Tuples methods

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
Index of 'Engineer':2